@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/medium/montserrat-medium.woff2') format('woff2'),
        url('/assets/fonts/medium/montserrat-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/bold/montserrat-bold.woff2') format('woff2'),
        url('/assets/fonts/bold/montserrat-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/extralight/montserrat-extralight.woff2') format('woff2'),
        url('/assets/fonts/extralight/montserrat-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/light/montserrat-light.woff2') format('woff2'),
        url('/assets/fonts/light/montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/extrabold/montserrat-extrabold.woff2') format('woff2'),
        url('/assets/fonts/extrabold/montserrat-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/regular/montserrat-regular.woff2') format('woff2'),
        url('/assets/fonts/regular/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/black/montserrat-black.woff2') format('woff2'),
        url('/assets/fonts/black/montserrat-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/semibold/montserrat-semibold.woff2') format('woff2'),
        url('/assets/fonts/semibold/montserrat-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/thin/montserrat-thin.woff2') format('woff2'),
        url('/assets/fonts/thin/montserrat-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}